body{
    margin-top: -10px;
    background-image:url('../img/ocean.jpg');
    width: 100%;
    text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
    color: white;
}
#logo{
    padding-top: 15px;
}
#topBar{
    height: 70px;
    margin: 0px;
    padding-left: 80px;
    text-align: left;
    background: #1e5799; /* Old browsers */
}
.menu:visited{
    color: white;
}
.menu:link{
    color:white;
}
.menu:hover{
    background: white;
    color: #f13490 ;
    text-decoration: none;
}



div{
    magin: 0px;
    padding: 0px;
}
.other{
    position: relative;
    float: right;
    font-size: 22px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 12px;
    padding-right: 12px;

}


#title{
    margin-top: 80px;
    text-align: center;
}
h1,h2, h3, h4, h5{
    
}
h1, h2{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: white;

}
h3, h4, h5, p{
   font-family: 'Merriweather Sans', sans-serif;
    color: white;
}
p{
    font-size: 16px;
    color: black;
}
#intro{
    width: 100px;
    margin: 100px;
    padding: 10px;
    font-size: 20px;
    background: #1e5799;
    color: white;
}

#getStarted{
    width: 50px;
}
.btn{
    background: #f13490;
    font-size: 18px;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    height: 60px;
    width: 140px;
}
.btn:hover{
    background: #f13460;
    color:white;
}
#footer{
    text-align: center;

    color: white;
    left:43%%;
}
#text{
    padding: 10px;
    text-align: left;
    background-image:url('../img/bg.png');
    margin-right: 20%;
    margin-left: 20%;
    color: #1e5799;
}

.code{
    margin: 20px;
    padding: 10px;
     background: rgb(100,104,110); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(100,104,110,1) 0%, rgba(75,77,79,1) 36%, rgba(26,28,30,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,104,110,1)), color-stop(36%,rgba(75,77,79,1)), color-stop(100%,rgba(26,28,30,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(100,104,110,1) 0%,rgba(75,77,79,1) 36%,rgba(26,28,30,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(100,104,110,1) 0%,rgba(75,77,79,1) 36%,rgba(26,28,30,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(100,104,110,1) 0%,rgba(75,77,79,1) 36%,rgba(26,28,30,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(100,104,110,1) 0%,rgba(75,77,79,1) 36%,rgba(26,28,30,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64686e', endColorstr='#1a1c1e',GradientType=0 ); /* IE6-9 */
    background: #404040;
    color: #f13490;
    border: 2px solid white;
}
#htmlTable{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

